body {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2F2F2;
}

.header_top{
    display: flex;
    background-color: #FFFFFF;
    justify-content: space-around;
    width: 100%;
    
    
}

.header_top_left{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.header_top_title{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 14px;
    margin-right: 20px;
}

.header_top_text{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 14px;
    margin:0 5px 0 5px;
    color: #797575;
}
.fa-solid{
    color: #797575;
}

.main_header{
    background-color: #00AADB;
    width: 100%;
    position:sticky;
    top: 0px;
    z-index: 100;
}

.section_logo{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(156, 222, 241);
    align-items: center;
}
.box_section_main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.fa-bars{
    color: white;
    font-size: 28px;
    margin: 0px;
    padding: 0px;
}

.box_nav{
    padding: 0px;
    
}
.fa-bell{
    color: white;
    font-size: 20px;
    padding: 0 7px 0 7px;
}
.fa-user{
    color: white;
    font-size: 20px;
    padding: 0 7px 0 7px;
}
.section_nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box_directo{
    border: solid white 1px;
    display: flex;
    align-items: center;
    padding: 0;
    border-radius: 4px;
}
.fa-circle{
    color: white;
    font-size: 8px;
    margin:0 5px 0 5px;
}
.box_directo_text{
    color: white;
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 10px;
    margin: 5px;
    
}

.box_nav{
    padding: 12px;
    
}
.nav_link{
    font-family: Roboto, arial, helvetica, sans-serif;
    color: white;
    text-decoration: none;
    margin: 0 15px 0 15px;
    font-size: 14px;
}

.fa-magnifying-glass{
    color: white;
    font-size: 20px;
}

.nav_link:hover{
    color:#92DBF0 ;
}

i:hover{
    color:#92DBF0 ;
}


.container{
    width: 980px;
    margin-top: 15px;
}

.main_box_1{
    display: flex;
    flex-direction: column;
    box-shadow: inset 0px -125px 98px -70px rgba(0,0,0,0.92);
}



.img_noticia1{
    width: 100%;
    box-shadow: inset 0px -125px 98px -70px rgba(0,0,0,0.92);
    
}
.main_box_img{
    position: relative;
    background-color: white;
    
}
.main_box_text{
    position: absolute;
    bottom: 0;
    
}

.text_noticia1{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 37px;
    margin: 0 25px 45px 25px;
    text-align:center;
    font-weight: bold;
    color: white;
}
.text_noticia1:hover{
    color: rgba(255, 255, 255, 0.409);
}
.img_noticias{
    width: 500px;
}


.box_title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 15px 0;
}
.section_title{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 25px;
    margin: 20px 0 8px 0;
}
.section_span{
    border-bottom: solid #0F6982;
    width: 5%;
}
.section_span2{
    border-bottom: solid #00AADB;
    width: 5%;
}

.aside_title:hover{
    color: rgb(62, 56, 56);
}


.main_box_2{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section_colum_noticias{
    background-color: white;
    width: 49%;
    flex-wrap: wrap;
    
}

.img_pedro{
    width: 100%;
}

.text_titular1{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 33px;
    margin: 10px 15px 45px 15px;
    background-color: white;
}

.text_titular2{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 20px;
    margin: 0 15px 15px 15px ;
    color: white;
}


.text_titular1:hover , .text_titular2:hover , .text_titular3:hover{
    color: rgb(112, 105, 105);
}

.sub_section_colum_noticias{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.box_article_main{
    width: 48%;
    background-color: white;
}

.img_article{
    width: 100%;
}

.text_titular3{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 17px;
    margin:5px 10px 10px 10px ;
}

.section_colum_noticias2{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_box_img2{
    position: relative;
    background-color: white;
    margin-bottom: 10px;
    
}

.main_box_img3{
    position: relative;
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    
}
.sub_section_colum_noticias2{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer_main{
    width: 100%;
    margin-top: 25px;
    
}

.footer_section1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1A1A1A;
    
}

.section_box_footer{
    margin: 5px 0 40px 0;
    width: 980px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.article_box_footer{
    margin: 1px;
    display: flex;
    flex-direction: column;
}

.title_article_footer{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 19px;
    margin: 0px 0px 15px 0px;
    color: white;
    font-weight: lighter;
}

.link_article_footer{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 16px;
    color: gray;
    margin: 10px 0px 7px 0px;
    text-decoration: none;
}

.link_article_footer:hover{
    color: rgb(87, 83, 83);
}

.footer_section2{
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section_box_footer2{
    display: flex;
    flex-direction: column;
    width: 700px;
}
.article_box_footer2{
    margin: 1px;
    display: flex;
    
    justify-content: space-between;
    margin: 25px 0 15px 0;
}


.text_footer1{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 12px;
    margin-top: 35px;
    
}
.text_footer2{
    font-family: Roboto, arial, helvetica, sans-serif;
    font-size: 12px;
    color: #9b8d8d;
}

.logo_megamedia{
    width: 200px;
    margin-top: 25px;
}
.logo_confianza{
    width: 100px;
    margin-top: 25px;
}

.img_footer_logo_mediaset{
    width: 300px;
    margin: 25px;
}


.img_article_logo{
    width: 110px;
    height: 50px;
}